# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Libraries used by Data Scientists
- Languages used by Data Scientists
- Popular languages that Data Scientist use

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. GO
4. JavaScript

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. Pandas
3. PyTorch

| Data Science Tools| Open-Source Tools | 
| :---------------- | -------:          | 
| Tool 1            |   TensorFlow      | 
| Tool 2            |   Apache spark    | 
| Tool 3            |  RStudio          |

### Below are a few examples of evaluating arithmetic expressions in Python:

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [8]:
200/60

3.3333333333333335

## Author
Aleena Sanchez